body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f4f4f4;
	position: relative;
	text-align: center;
}

.container {
	max-width: 90%; /* Allow some flexibility on small screens */
	width: 350px; /* Maintain a good width on larger screens */
	margin: 0 auto;
}

#qr-code {
	position: absolute;
	top: 10px;
	right: 10px;
	display: none; /* Initially hidden */
}

.bingo-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 5px;
	margin: 20px auto;
	width: 100%; /* Take up available width */
	max-width: 350px;
	border: none;
	text-align: center;
	padding: 10px;
}

.bingo-grid div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e0e0e0;
	border: 1px solid #ccc;
	font-size: 14px;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	word-wrap: break-word;
	font-size: 12px;
}

.bingo-grid div.selected {
	background-color: blue;
	color: white;
}

button {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
	margin: 10px 0;
}

button:hover {
	background-color: #45a049;
}

#bingo-callout {
	background-color: #006400; /* Dark green */
	color: white;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	display: none;
}

#bingo-message {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

@media (max-width: 600px) {
	.bingo-grid {
		grid-template-columns: repeat(5, 1fr); /* Ensure it stays 5 columns */
		grid-template-rows: repeat(5, 1fr);
	}

	.bingo-grid div {
		font-size: 12px; /* Reduce font size on mobile */
		padding: 10px; /* Increase padding for better touch interaction */
	}
}
