body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f4f4f4;
	position: relative;
}

.container {
	text-align: center;
}

#qr-code {
	position: absolute;
	top: 10px;
	right: 10px;
}

.bingo-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 5px;
	max-width: 350px;
	margin: 20px auto;
	border: none;
}

.bingo-grid div {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e0e0e0;
	border: 1px solid #ccc;
	font-size: 14px;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	word-wrap: break-word;
	font-size: 12px;
}

.bingo-grid div.selected {
	background-color: blue;
	color: white;
}

button {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #45a049;
}

#bingo-callout {
	background-color: #006400; /* Dark green */
	color: white;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	display: none;
}

#bingo-message {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
